<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@employersmutual.com.au" xdt:Transform="Replace">
        <network host="sydex001" userName="" password="" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>